<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <div class="card shadow">
            <div class="card-body">
            <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required minlength="2" maxlength="50">
                    <div class="invalid-feedback">
                        Title must be between 2 and 50 characters.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required minlength="2"
                    maxlength="50">
                    <div class="invalid-feedback">
                        Location must be between 2 and 50 characters.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Images</label>

                    <input
                        type="file"
                        class="form-control"
                        id="image"
                        name="image"
                        multiple
                    >

                    <div class="invalid-feedback">
                        Please upload at least one image.
                    </div>
                    </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" id="price" name="campground[price]" required min="1" max="10000" step="0.01">
                    <div class="invalid-feedback">
                        Price must be a number greater than 0 and less than 10000.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="campground[description]" required minlength="10"
                    maxlength="1000" pattern=".*[A-Za-z].*"></textarea>
                    <div class="invalid-feedback">
                        Description must be at least 10 characters and contain letters (not only numbers).
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            </div>
        </div>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>